* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 50px;
}

.user-block {
  width: calc(20% - 40px);
  height: auto;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.user-block p {
  margin-top: 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
